<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Reservation</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Home</a></li>
				</ul>
				<form class="d-flex">
					<a href="/login" class="btn btn-light">Login</a>
<div class="dropdown">
  <button class="btn btn-light ms-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Signup
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" th:href="@{/signup}">Client Signup</a>
    <a class="dropdown-item" th:href="@{/signupCompany}">Company Signup</a>
  </div>
</div>

				</form>
			</div>
		</div>
	</nav>
<br>

    <div class="container">
        <a class="btn btn-primary" th:href="@{/addAnnonce}">Add Annonce</a>
    </div>
    <br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">nom</th>
                    <th scope="col">description</th>
                    <th scope="col">price</th>
                    <th scope="col">availability</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="annonce : ${list}">
                    <th th:text="${annonce.annonceId}" scope="row"></th>
                    <td th:text="${annonce.annonceName}"></td>
                    <td th:text="${annonce.description}"></td>
                    <td th:text="${annonce.price}"></td>
                    <td th:text="${annonce.dispo}"></td>
                    <td>
                        <a onClick="return confirm('Voulez-vous vraiment supprimer')"
                            class="btn btn-danger" th:href="@{/delete(id=${annonce.annonceId})}">Supprimer</a>
                        <a class="btn btn-primary" th:href="@{/modifier(id=${annonce.annonceId})}">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>

</html>
